.campo-digitacao {
    font-size: 20px;
    height: 130px;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}
.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}